---
import Greeting from "@/components/Greeting.svelte";
import Layout from "../layouts/Layout.astro";
import PlaylistItemCard from "@/components/PlaylistItemCard.astro";
import { playlists } from "@/lib/data";
---

<Layout title="Spotify Clon">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-green-900"
  >
    <!-- Page header -->

    <div class="relative z-10 p-6">
      <!-- Greetings -->
      <Greeting />
      <div class="flex flex-wrap mt-4 gap-4">
        {playlists.map((playlist) => <PlaylistItemCard playlist={playlist} />)}
      </div>
    </div>

    <div
      class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"
    >
    </div>
  </div>
</Layout>

<style></style>
