---
import Greeting from "@/components/Greeting.svelte";
import Layout from "../layouts/Layout.astro";
import PlaylistItemCard from "@/components/PlaylistItemCard.astro";
import { playlists } from "@/lib/data";
---

<Layout title="Scrotify — Inicio">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000"
  >

    <div class="relative z-10 p-6">
      <Greeting />
      <div class="mt-4 grid gap-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
        {playlists.map((playlist) => <PlaylistItemCard playlist={playlist} />)}
      </div>
    </div>

    <div
      class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-700/30"
    >
    </div>
  </div>
</Layout>
